
/* font colors: orange :F7652D
                white: E2DFD6 */

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #0F2437;
    color: #E2DFD6;
    overflow-x: hidden;
}

.main_section{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
}


.title{
    margin-top: 50px;
    width: 50%;   
    transform: translateX(-200px);
    opacity: 0;
}

h1,h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
}

h1{
    font-size: 6rem;
}

.description{
    width: 40%;
    margin-top: 80px;
    opacity: 0;
    transform: translateX(200px);
}

.chris_image{
    position: absolute;
    left: 20%;
    z-index: -1;
    width: 469px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.main_section .hero_section_content p{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 2.3rem;
}

.new,.consulting,.chris,.para{
    color: #F7652D;
    
}

.para,.chris{
    font-weight: 400;
}

.chrisulting{
    text-decoration: none;
    color: #E2DFD6;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    position: relative;
    top: 30px;
    left: 40px;
    
}
.social_media{
    float: right;
    margin-right: 40px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.social_media .links{
    display: flex;
    justify-content: center;
}

.social_media .links .media{
    margin-left: 20px;
    list-style: none;
}
.social_media .links .media .link{
    color: #E2DFD6;
    font-size: 23px;
}

@media only screen and (max-width:1145px){
    .main_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main_section .description{
        width: 50%;
        margin-top:100px;
    }

    .chris_image{
       
    position: absolute;
    left: 52%;
    z-index: -1;
    width: 48%;
    margin: 0;
    padding: 0;
    }
    .social_media{
        
        margin-right: 40px;
        position: relative;
        
    }
}
@media only screen and (max-width:900px){

    .main_section .description{
        width: 100%;
        margin-top:230px;
    }
}
@media only screen and (max-width:782px){
    .main_section .description{
        width: 100%;
        margin-top:100px;
    }
}

@media only screen and (max-width:750px){
    .chris_image{
       width: 50%;
       top: 10%;
       left: 50%;
    }
}

@media only screen and (max-width:600px){
    .chris_image{
        width: 60%;
        top: 10%;
        left: 40%;
    }
}

@media only screen and (max-width:501px){
    .chris_image{
        width: 100%;
        left: 0%;
    }

    .main_section .description{
        width: 100%;
        margin-top:250px;
    }

    .main_section .hero_section_content h1,h2{
        color: #0F2437;
    }

    .title{
        transform: translateX(-50px);
    }

    .main_section .hero_section_content.description p{
        font-size: 2rem;
    }
}

/* for javascript */

.effect{
    transform: translateX(0);
    opacity: 1;
    transition: transform 1s,opacity 1.5s;
    
}

